@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-montserrat);
  --font-hammersmith: var(--font-hammersmith);
  --color-creamy: #fff7e8;
  --color-pinky: #ffefff;
  --color-lavanda: #c493ff;
  --color-lima: #c1ff72;
  --color-dark-green: #184a57;
  --color-leaf-green: #0f7a54;
  --color-white: #fff;
  --color-black: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Montserrat, Helvetica, sans-serif;
}
